<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>To Do List</title> 
    </head> 
    <body>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                  <button class="button">Update</button>
            </form>
            <button><a href="{% url 'todos_list'  %}">Back to all To Do Lists</a></button>
        </main> 
    </body> 
</html> 