<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>To Do List</title> 
    </head> 
    <body>
        <main>
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete {{todolist}} to do list ??</p>
                {{ form.as_p }}
                  <button class="button">Delete</button>
            </form>
            <a href="{% url 'todos_list' %}"><button class="button">No I do not want to delete</button></a>
        </main> 
    </body> 
</html> 