<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>To Do List</title> 
    </head> 
    <body>
        <main>
            <h1>{{ todolist }}</h1> 
            <table>
                <thead>
                    <tr>
                    <th>Items in todo list</th>
                    <th>Due date</th> 
                    <th>Is completed?</th> 
                    </tr>
                </thead> 
                <tbody>
                    {% for item in todolist.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todoitem_edit' item.pk %}">{{ item }}</a>  
                        </td>
                        <td>
                            {{ item.due_date }}
                        </td>
                        <td>
                            {{ item.is_completed }}
                        </td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table> 
            

            <button><a href="{% url 'todolist_update' todolist.id %}">Update To do list</a></button>
            <button><a href="{% url 'todolist_delete' todolist.id %}">Delete To do list</a></button>
            <button><a href="{% url 'todos_list'  %}">Back to all To Do Lists</a></button>

        </main> 
    </body> 
</html> 