<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>To Do List</title> 
    </head> 
    <body>
        <main>
            <h1>To do Lists:</h1> 
            <table>
                <thead>
                    <tr>
                    <th>Name of list</th>
                    <th>Number of items in list</th> 
                    <th>Are all items complete?</th> 
                    </tr>
                </thead> 
                <tbody>
                    {% for list in todolist %} 
                    <tr>
                        <td>
                            <a href="{% url 'todo_detail' list.pk %}">{{ list.name }}</a>  
                        </td>
                        <td>
                            {{ list.items.all|length }}
                        </td>
                        <td>
                           {% if list.all_completed == True %}  
                           
                            Yes
                            {% else %}
                            No  
                            {% endif %}
                        </td>
                    </tr> 
                    {% endfor %} 
                </tbody>
            </table> 
            <a href="{% url 'todolist_create' %}"><button>Create a new todo list</button></a>
            <a href="{% url 'todoitem_create' %}"><button>Create a new todo item for a list</button></a> 
        </main> 
    </body> 
</html> 